<style type="text/css">
	table, th, td {
	 
	  border-collapse: collapse;
	}
	tr {
		 border-bottom: 1px solid black;
	}
</style>

hi <span id="username"><%= username %></span>
<a href="auth/logout">logout - <%= username %></a>
<br>
<span>room no: <%= roomno %></span>
<br>
chats:
<div class="" id="main-chat-container" style="max-height: 500px; max-width: 300px; border: 1px solid #000; overflow: auto;">
	<table id="main-chat" >
		
	</table>
</div>
<form method="post" action="/auth/addchat">
	<textarea name="chatcontent"></textarea>
	<input type="submit" name="send" value="send">
</form>


<script type="text/javascript">	
	var mainChatContainerElement = document.getElementById('main-chat-container')
	var mainChatElement = document.getElementById('main-chat')
	// getting the http://www.web.com part
	const baseurl = window.location.href.split('/').slice(0,3).join('/')
    setInterval(()=>{
	    fetch(`${baseurl}/auth/allchats`, {
	        method: "GET"
	    }).then(function(response) {
	        return response.json();
	    }).then(function(chats){
	        // console.log(chats);
	        mainChatElement.innerHTML = '' 
	        for(let chat of chats){
	        	mainChatElement.innerHTML += `
	        		<tr>
	        			<td><b>${chat.username}: </b></td>
	        			<td>${chat.chatcontent}</td>
	        		</tr>
	        	`
	        }
	    });
	    mainChatContainerElement.scrollTop = mainChatContainerElement.scrollHeight
		// console.log(9898)
    }, 1000)

	
</script>


